.Container{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: auto;
       
}



.card{
    
    height: auto;
    width: 95%;
    max-width: 850px;
    margin: auto;
    border-radius: 25px;
    background-color: rgb(218, 238, 255);
        
    
}



.textPosition{
    padding: 0 20px 35px;
    width: auto;
    margin-left: 50px;

}

.date{
    display: block;
    color: gray;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.textPosition .title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.buttonContainer{
    margin-top: 20px;
    height: auto;
    width: auto;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    
   
}


.fa-kiss-wink-heart{
    color: grey;
    margin-top: 3px;
    font-size: 30px;
    
    
}

.fa-heart{
    color: grey;
    margin-top: 3px;
    font-size: 30px;
    margin-left: 20px;

}

.img{
    
    width: 80%;
    height: 80%;
}


.fa-grin-hearts{
    color: grey;
    margin-top: 3px;
    font-size: 30px;
    margin-left: 20px;

}

.fa-hand-spock{
    color: grey;
    margin-top: 3px;
    font-size: 30px;
    margin-left: 20px;

}

.emoteContent{
   
    display: flex;
    cursor: pointer;
    
}

.number{
    font-size: 21px;
    font-weight: 600;
    color: grey;
    margin-left: 5px;
}

